@{
    ViewBag.Title = "OmdbAPI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Message</h2>

<script src="~/Scripts/OmdbAPI/omdbApp.js"></script>
<script src="~/Scripts/OmdbAPI/omdbAPIController.js"></script>

<div ng-app="omdbApp" ng-controller="omdbAPIController">
    <form>
        <input ng-model="searchtext" type="text" id="searchText" name="searchText" />
        <input type="submit" ng-click="getData()" id="fetchData" value="Get data"/>
    </form>
    <div style="padding-bottom: 5px"></div>

    <table class="table">
        <tr>
            <th>
                Title
            </th>
            <th>
                Year
            </th>
            <th>
                Type
            </th>
            <th>
                imdbID
            </th>
        </tr>

        <tr ng-repeat="item in search">
            <td>
                {{item.Title}}
            </td>
            <td>
                {{item.Year}}
            </td>
            <td>
                {{item.Type}}
            </td>
            <td>
                {{item.imdbID}}
            </td>
        </tr>
    </table>
</div>